html{
    font-family:sans-serif;
    line-height:1.15;
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:transparent
}
footer{
    display:block
}
body{
    margin:0;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#212529;
    text-align:left;
    background-color:#fff
}
[tabindex="-1"]:focus:not(:focus-visible){
    outline:0!important
}
hr{
    box-sizing:content-box;
    height:0;
    overflow:visible
}
h1,h2,h3,h4,h5,h6{
    margin-top:0;
    margin-bottom:.5rem
}
p{
    margin-top:0;
    margin-bottom:1rem
}
b{
    font-weight:bolder
}
a:not([href]):not([class]){
    color:inherit;
    text-decoration:none
}
a:not([href]):not([class]):hover{
    color:inherit;
    text-decoration:none
}
img{
    vertical-align:middle;
    border-style:none
}
table{
    border-collapse:collapse
}
button{
    border-radius:0
}
button:focus{
    outline:1px dotted;
    outline:5px auto -webkit-focus-ring-color
}
button{
    margin:0;
    font-family:inherit;
    font-size:inherit;
    line-height:inherit
}
button{
    overflow:visible
}
button{
    text-transform:none
}
[role=button]{
    cursor:pointer
}
hr{
    margin-top:1rem;
    margin-bottom:1rem;
    border:0;
    border-top:1px solid rgba(0,0,0,.1)
}
.img-fluid{
    max-width:100%;
    height:auto
}
.container,.container-fluid,.container-md{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}
@media (min-width:576px){
    .container{
        max-width:540px
    }
}
@media (min-width:768px){
    .container,.container-md{
        max-width:720px
    }
}
@media (min-width:992px){
    .container,.container-md{
        max-width:960px
    }
}
@media (min-width:1200px){
    .container,.container-md{
        max-width:1140px
    }
}
.row{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px
}
.col-md-8{
    margin-left:30px
}
@media (min-width:768px){
    .col-md{
        -ms-flex-preferred-size:0;
        flex-basis:0;
        -ms-flex-positive:1;
        flex-grow:1;
        max-width:100%
    }
    .col-md-1{
        -ms-flex:0 0 8.333333%;
        flex:0 0 8.333333%;
        max-width:8.333333%
    }
    .col-md-2{
        -ms-flex:0 0 16.666667%;
        flex:0 0 16.666667%;
        max-width:16.666667%
    }
    .col-md-3{
        -ms-flex:0 0 25%;
        flex:0 0 25%;
        max-width:25%
    }
    .col-md-4{
        -ms-flex:0 0 33.333333%;
        flex:0 0 33.333333%;
        max-width:33.333333%
    }
    .col-md-5{
        -ms-flex:0 0 41.666667%;
        flex:0 0 41.666667%;
        max-width:41.666667%
    }
    .col-md-6{
        -ms-flex:0 0 50%;
        flex:0 0 50%;
        max-width:50%
    }
    .col-md-7{
        -ms-flex:0 0 58.333333%;
        flex:0 0 58.333333%;
        max-width:58.333333%
    }
    .col-md-8{
        -ms-flex:0 0 66.666667%;
        flex:0 0 66.666667%;
        max-width:66.666667%
    }
    .col-md-9{
        -ms-flex:0 0 75%;
        flex:0 0 75%;
        max-width:75%
    }
    .col-md-10{
        -ms-flex:0 0 83.333333%;
        flex:0 0 83.333333%;
        max-width:83.333333%
    }
    .col-md-11{
        -ms-flex:0 0 91.666667%;
        flex:0 0 91.666667%;
        max-width:91.666667%
    }
    .col-md-12{
        -ms-flex:0 0 100%;
        flex:0 0 100%;
        max-width:100%
    }
}
.table{
    width:100%;
    margin-bottom:1rem;
    color:#212529
}
.table td{
    padding:.75rem;
    vertical-align:top;
    border-top:1px solid #dee2e6
}
.table-success,.table-success>td{
    background-color:#c3e6cb
}
.table-success td{
    border-color:#8fd19e
}
.btn{
    display:inline-block;
    font-weight:400;
    text-align:center;
    vertical-align:middle;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-color:transparent;
    border:1px solid transparent;
    padding:.375rem .75rem;
    font-size:1rem;
    line-height:1.5;
    border-radius:.25rem;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
.btn:hover{
    color:#212529;
    text-decoration:none
}
.btn:focus{
    outline:0;
    box-shadow:0 0 0 .2rem rgba(0,123,255,.25)
}
.btn:disabled{
    opacity:.65
}
.btn:not(:disabled):not(.disabled){
    cursor:pointer
}
.btn-success{
    color:#fff;
    background-color:#28a745;
    border-color:#28a745
}
.btn-success:hover{
    color:#fff;
    background-color:#218838;
    border-color:#1e7e34
}
.btn-success:focus{
    color:#fff;
    background-color:#218838;
    border-color:#1e7e34;
    box-shadow:0 0 0 .2rem rgba(72,180,97,.5)
}
.btn-success:disabled{
    color:#fff;
    background-color:#28a745;
    border-color:#28a745
}
.btn-success:not(:disabled):not(.disabled).active,.btn-success:not(:disabled):not(.disabled):active{
    color:#fff;
    background-color:#1e7e34;
    border-color:#1c7430
}
.btn-success:not(:disabled):not(.disabled).active:focus,.btn-success:not(:disabled):not(.disabled):active:focus{
    box-shadow:0 0 0 .2rem rgba(72,180,97,.5)
}
.btn-link:focus{
    text-decoration:underline
}
.btn-link:disabled{
    color:#6c757d;
    pointer-events:none
}
.text-success{
    color:#28a745!important
}
a.text-success:focus,a.text-success:hover{
    color:#19692c!important
}
.text-body{
    color:#212529!important
}
@media print{
    *,::after,::before{
        text-shadow:none!important;
        box-shadow:none!important
    }
    a:not(.btn){
        text-decoration:underline
    }
    img,tr{
        page-break-inside:avoid
    }
    h2,h3,p{
        orphans:3;
        widows:3
    }
    h2,h3{
        page-break-after:avoid
    }
    @page{
        size:a3
    }
    body{
        min-width:992px!important
    }
    .container{
        min-width:992px!important
    }
    .table{
        border-collapse:collapse!important
    }
    .table td{
        background-color:#fff!important
    }
}
.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
  }
  
  .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
  }
  
  .rating label:last-child {
    position: static;
  }
  
  .rating label:nth-child(1) {
    z-index: 5;
  }
  
  .rating label:nth-child(2) {
    z-index: 4;
  }
  
  .rating label:nth-child(3) {
    z-index: 3;
  }
  
  .rating label:nth-child(4) {
    z-index: 2;
  }
  
  .rating label:nth-child(5) {
    z-index: 1;
  }
  
  .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .rating label .icon {
    float: left;
    color: transparent;
  }
  
  .rating label:last-child .icon {
    color: #000;
  }
  
  .rating:not(:hover) label input:checked ~ .icon,
  .rating:hover label:hover input ~ .icon {
    color: #09f;
  }
  
  .rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #09f;
  }